body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, section, footer {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.why-choose-us {
    margin: 10px 20px;
}

header {
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

section h2 {
    font-size: 2em;
    color: #444;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

section p, section ul li, footer {
    font-size: 1em;
}
#contact {
    padding: 20px;
    margin: 10px 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact p {
    font-size: 0.9em;
    margin: 5px 0;
}

#contact p {
    font-size: 0.9em; /* Adjusted font size for email and phone numbers */
    margin: 5px 0;   /* Added margin for spacing */
}

blockquote {
    border-left: 5px solid #ccc;
    margin: 20px 0;
    padding-left: 10px;
    color: #555;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #0066cc;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #005bb5;
}
